body {
  background-color: white;
}

.subscribe-button {
  background-color: red;
  color: white;
  border: none;
  border-radius: 4px;
  height: 36px;
  width: 105px;
  cursor: pointer;
  margin-right: 8px;
  margin-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  transition: opacity 0.15s;
  vertical-align: top;
}

.subscribe-button:hover{
  opacity: 0.8;
}

.subscribe-button:active{
  opacity: 0.4;

}

.join-button{
  background-color: white;
  border-color: blue;
  border-style: solid;
  border-width: 1px;
  height: 36px;
  width: 60px;
  color: blue;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  transition: background-color 0.15s, color 0.15s ;
}

.join-button:hover{
  background-color: rgb(41, 118, 21);
  color: white;
}
.join-button:active{
  opacity: 0.7;
}

.tweet-button{
  background-color: rgb(255,216,20);
  color: black;
  border: none;
  height: 36px;
  width: 80px;
  border-radius: 18px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  transition: box-shadow 0.15s;
  
}
.tweet-button:hover{
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
}